* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #0b3d91;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    background: url("images/solar-bg.webp") center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 25px;
}

.hero button {
    padding: 12px 25px;
    font-size: 16px;
    background: #0b3d91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn {
  background: #0b3d91;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
}

.btn:hover {
  background: #062a63;
}

/* PLANETS */
.planets {
    padding: 60px 20px;
    text-align: center;
}

.planets h2 {
    margin-bottom: 40px;
}

.planet-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.planet-card {
    width: 180px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.planet-card:hover {
    transform: scale(1.08);
}

.planet-card img {
    width: 120px;      /* controls zoom */
    height: 120px;     /* keeps uniform size */
    object-fit: contain;
    margin-bottom: 10px;
}

.planet-card h3 {
    margin-top: 10px;
}

/* ABOUT */
.about {
    padding: 60px 20px;
    background: #eef4ff;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: auto;
    font-size: 17px;
}

/* CONTACT */
.contact {
    padding: 50px 20px;
    text-align: center;
}

/* FOOTER */
footer {
    background: #0b3d91;
    color: white;
    text-align: center;
    padding: 15px;
}
}
